<header>
  <div class="container">
  	<a href="#" data-activates="nav-mobile" class="button-collapse top-nav waves-effect waves-light circle hide-on-large-only">
  		<i class="material-icons">menu</i>
  	</a>
  </div>
  
  <ul id="nav-mobile" class="side-nav fixed">
    <li class="search" data-region="search" style="top:30px;">
      
    </li>
    <li data-region="menu" style="margin-top: 100px">looking through your computer...</li>
  </ul>
</header>
<main>
	<div class="continer" data-region="main"></div>
</main>