<div class="search-wrapper card" style="overflow: hidden;">
  <input placeholder="Search..." data-action="input" style="margin: 0; padding: 0 10px"/><i class="material-icons">search</i>
  <div class="search-results hide" data-ui="results">{{#each results}}<a href="#">{{name}}</a>{{/each}}</div>
</div>